<ul class="tabs" data-tabs id="example-tabs">
	<li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Amigos</a></li>
	<li class="tabs-title"><a href="#panel4">Interacciones</a></li>
	<li class="tabs-title"><a href="#panel5">Me mencionó</a></li>
	<li class="tabs-title"><a href="#panel6">Mencioné</a></li>
</ul>
<div class="tabs-content" data-tabs-content="example-tabs">
	<div class="tabs-panel is-active" id="panel1">
		<%= render 'friends/friend' %>
	</div>
	<div class="tabs-panel" id="panel4">
		<%= render 'relationships/relationship' %>
	</div>
	<div class="tabs-panel" id="panel5">
		<%= render 'activities/mentioned' %>
	</div>
	<div class="tabs-panel" id="panel6">
		<%= render 'activities/mention' %>
	</div>
</div>