<table>
  <thead>
    <tr>
    	<th width="50">id</th>
      	<th width="200">id_twitter</th>
      	<th width="300">Nombre</th>
      	<th>Ubicación</th>
    </tr>
  </thead>
  <tbody>
  	<% current_user.followers.each do |follower| %>
		<tr>
			<td><%= follower.id %></td>
			<td><%= follower.fid %></td>
			<td><%= follower.name %></td>
			<td><%= follower.location %></td>
		</tr>
	<% end %>
  </tbody>
</table>