<table>
  <thead>
    <tr>
      <th width="200">id_amigo</th>
      <th width="200">Amigo</th>
      <th>Tipo de actividad</th>
      <th>Interacciones</th>
    </tr>
  </thead>
  <tbody>
    <% current_user.activities.order(level: :desc).where(activity_type: "Retweet").each do |activity| %>
      <tr>
        <td><%= activity.friend %></td>
        <td><%= current_user.friends.where(fid: activity.friend).first.name %></td>
        <td><%= activity.activity_type %></td>
        <td><%= activity.level %></td>
      </tr>
    <% end %>
  </tbody>
</table>